@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300');
@import url('https://fonts.googleapis.com/css?family=Lato:300,900');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    overflow: hidden;
}


/**/
.fullscreen {
    width: 100%;
    height: 100%;
}

/**/
.container{
    overflow-y: auto;
}

.container .content{
    width: 100%;
    display: block;
}
.container .c100{
    height: 100%;
}
.container .c50{
    height: 50%;
}
.container .c55{
    height: 55%;
}
.hidden{
    display: none;
}
.dark-layer{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0,0,0,0.2);
}

/*Background*/
.background{
    bottom: 96px;
    background-size: cover;
    position: absolute;    
    min-height: 110%;
    min-width: 110%;
    left: -5%;
    top: -5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.image1_x1 {
    background-image: url(../images/background1@x1.jpg);
}
.image1_x2 {
    background-image: url(../images/background1@x2.jpg);
}
.image2_x1 {
    background-image: url(../images/background2@x1.jpg);
}
.image2_x2 {
    background-image: url(../images/background2@x2.jpg);
}


/*Cloud positions*/
.cloud{
    position: absolute;
    opacity: 0.6;
}
.scale-25{
    height: 25%;
}
.scale-40{
    height: 40%;
}
.cloud3_p1{
    top: -5%;
}
.cloud2_p1{
    top: 2%;
    right: -5%;
}
.cloud1_p1{    
    right: -2%;
    top: 30%;
}


/*Infos*/
.infos{
    width: 250px;
    height: 290px;
    position: absolute;
    top: 15%;
    left: 15%;
}
.infos div{
    display: block;
    float: left;
}
.infos-img {
    width: 188px;
    height: 188px;
    background-color: #FFF;
}
.infos-img img{
    width: 180px;
    border: 4px solid #FFF;
}
.infos-social a{   
    text-decoration: none;
    display: block;
    width: 36px;
    height: 36px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 15px 12px;
    background-size: contain;
    opacity: 0.5;
    transition-duration: 0.5s;
}
.infos-social a:hover{
    opacity: 1;
}
.facebook{
    background-image: url(../images/icon-facebook.png);
    margin-top: 0 !important;
}
.github{
    background-image: url(../images/icon-github.png);
}
.twitter{
    background-image: url(../images/icon-twitter.png);
}
.linkedin{
    background-image: url(../images/icon-linkedin.png);
    margin-bottom: 0 !important;
}

.infos-name h1{
    margin: 0.1em 0 0 -0.05em;
    font-weight: 900;    
    font-size: 3.76em;
    line-height: 0.86em;
    font-family: 'Lato', serif;
    color: #fff;
}
.infos-name h2{
    margin-left: -0.08em;
    font-weight: 300;
    font-family: 'Lato', serif;
    font-size: 1.8em;
    line-height: 1em;
    color: #D1D1D1;
}

/*WORK*/
.work{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
ul#projects{
    list-style-type: none;
    white-space: nowrap;
} 
ul#projects li{
    display: inline-block;
    width: 10em;
    transition-duration: 0.7s;
    cursor: pointer;
    margin: 0 2em;
}
ul#projects li a{
    text-decoration: none;
}
ul#projects li:hover{
    transform: scale(1.1);
}
ul#projects li .icon img{
    width: 100px;
    border-radius: 1.2em;
    box-shadow: 2px 2px #000;
}
ul#projects li h1{
    font-weight: 300;
    font-size: 1.4em;
    text-shadow: 2px 2px #000;
}
ul#projects li h2{
    font-weight: 300;
    font-size: 0.8em;
    color: #CECECE;
    text-shadow: 2px 2px #000;
}
ul#projects li img.infosicon {
    width: 1.3em;
    margin: 6px 0 0 0;
}

/*
.animate{
    -webkit-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
*/
